
.form-container {
  background-color: var(--boton-secundary);
  max-width: 50%;
  min-width: 240px;
  border-radius: 10px;
  box-shadow: 0px 5px 16px 0px var(--primary-color);
  overflow: hidden;
  color: var(--font-color-reverse);
  font-weight: 900;
  margin: 0 auto;
}
.form-header {
  background: var(--primary-color);
  padding: 1px;
  text-align: center;
  border-bottom: 5px solid var(--font-color-reverse);
  line-height:30px;
  }
.form-header h1{
  color: var(--third-color);
  font-size: 32px;
}
.form {
  padding: 5px 40px;
}
.form-group input,
.form-group select,
.form-group textarea,
.form-group {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 5px;
  font-size: 1rem;
  border-radius: 5px;
}
.form label {
  margin: 5px auto;
  display: block;
}
.form-group *::placeholder {
  color: var(--primary-color);
  font-size:20px
}
.form-check input[type="checkbox"] {
  margin: 15px auto;
}
.form button {
  display: block;
  width: 100%;
  padding: 8px;
  background: var(--primary-color);
  border-radius: 10px;
  color: var(--font-color-reverse);
  cursor: pointer;
  font-weight: 900;
  font-size: 15px;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}
.form button:hover {
  background-color: var(--boton-warning);
  color:var(--font-color-reverse)
}

.table-responsive {
        width: 100%;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
}
.consulta h2{
  color: var(--color-h1);
  text-transform:uppercase;
  margin-bottom: 3px;
}
.consulta-est{
  width: 90%;
}
.consulta-est th{
  background-color: var(--boton-warning);
  color:var(--font-color-reverse);
  font-size:20px;
  text-align: center;
}
.consulta-est th, td {
  width: 25%;
  text-align: left;
}
.detalle-est button{
  background-color: var(--primary-color);
  border-radius: 5px;
  border: 2px solid var(--boton-warning);
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}
.detalle-est button:hover{
  background-color: var(--boton-warning);
}
.detalle-est .acciones{
  text-align: center;
}


